@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model PollCollectionViewModel

<h2>Tes votes</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Status</th>
            <th scope="col">Temps restant</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OldPolls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @if (item.IsOpen)
                    {
                        <span class="badge badge-success">En cours...</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Terminé</span>
                    }
                </td>
                <td>
                    @if (item.IsOpen)
                    {
                        @Html.DisplayFor(modelItem => item.RemainingTime)
                    }
                </td>
                <td style="width:20%">
                    @{
                        var text = (item.IsOpen) ? "Résultats temporaire" : "Résultats";
                    }
                    <a asp-action="Result" asp-route-pollId="@item.Id">@text</a>
                </td>
            </tr>
        }
    </tbody>
</table>