@model Probel.Arbitrium.ViewModels.Admin.RawPollViewModel
<h2>Créer élection</h2>
<form asp-action="CreatePoll" role="Form">
    <div class="form-group">
        <label asp-for="Question" class="form-check-label"></label>
        <input asp-for="Question" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="form-check-label">Début de l'élection</label>
        <input type="datetime" asp-for="StartDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="form-check-label">Fin de l'élection</label>
        <input type="datetime" asp-for="EndDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Choices" class="form-check-label">Choix</label>
        <textarea asp-for="Choices" class="form-control" rows="10" cols="40"></textarea>
    </div>
    <div>
        <hr />
        <button type="submit" class="btn btn-primary">Créer</button>
        <a asp-action="List" asp-controller="Poll" class="btn btn-link">Annuler</a>
    </div>
</form>