@model RawPollViewModel
<h2>Editer une élection</h2>
<form asp-action="Edit" role="Form">
    <div class="form-group">
        <label asp-for="@Model.Question" class="form-check-label"></label>
        <input asp-for="@Model.Question"  class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Choices" class="form-check-label">Choix</label>
        <textarea asp-for="@Model.Choices" rows="10" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <hr />
        <button id="btn" type="submit" class="btn btn-primary">Editer</button>
        <a asp-action="EditPolls" class="btn btn-light">Annuler</a>
    </div>
</form>
