@model PollCollectionViewModel
<h2>Elections éditables</h2>
<table class="table">
    <tbody>
        @foreach (var item in Model.NewPolls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-pollId="@item.Id" class="btn btn-link">Editer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

