<h2>Login</h2>
<hr />
<form asp-action="Account" method="post">
    <div class="form-group">
        <label class="control-label">Login</label>
        <input class="form-control" type="text" name="login" />
    </div>
    <div class="form-group">
        <button>Next</button>
    </div>
</form>
