@model LoginViewModel
<h2>Connexion</h2>
<hr />
<form asp-action="Connect" method="post">
    <div class="form-group">
        <input asp-for="Login" class="form-control" placeholder="Adresse email" />
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control" placeholder="Mot de passe" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Connexion" />
        <a asp-action="Create" class="btn btn-lg btn-link btn-block">Enregistrer</a>
    </div>
</form>
