@model NewLoginViewModel
<h2>Inscription</h2>
<hr />
@if (ViewData["Message"] != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewData["Message"]
    </div>
}
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Login</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Mot de passe</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirmation" class="control-label">Confirmation mot de passe</label>
        <input asp-for="PasswordConfirmation" class="form-control" />
        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Créer" />
        <a asp-action="Connect" class="btn btn-default">Annuler</a>
    </div>
</form>

