@model Probel.Arbitrium.ViewModels.NewLoginViewModel
<h2>Register</h2>
<hr />
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Login" class="control-label"></label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirmation" class="control-label"></label>
        <input asp-for="PasswordConfirmation" class="form-control" />
        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />        
        <a asp-action="Account" class="btn btn-default">Cancel</a>
    </div>
</form>

